.infospace--title {
  color: #676767;
  font-size: 12px;
  padding-top: 10px;
  position: relative;
  right: 10px;
  float: right;
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-word-wrap: normal;
  word-wrap: normal;
}

@media all and (max-width: 600px) {
  .infospace--title {
    position:static;
    padding-left:4px;
    float:none;
  }
}

.infospace--title__real-results {
  color: #676767;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  margin: 10px 10px 0 5px;
  text-align: right;
}

@media all and (max-width: 600px) {
  .infospace--title__real-results {
    text-align: left;
  }
}
